@import "tailwindcss";
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: grey;
} */

@media (max-width: 430px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  }
  .left_nav img{
    width: 80px;
  }
  .menu{
    display: block;
  }
  .right_nav{
    display:none;
  }
  .menu_btn{
    display: block;
  }
  .facilities{
    padding: 30px 10px;
  }
  #facilities{
    flex-direction: column;
    gap:20px;
  }

  .facility_card{
    height: 400px;
    width:300px;
  }
  .facility_card h1{
    font-size: 16px;
  }
  .facility_card img{
    height: 92%;
  }
  .phone_no{
    display: block;
    padding: 4px 10px;
    font-size: 12px;
  }
  .footer{
    padding: 10px 20px;
  }
  .footer_card{
    width: 35%;
  }

  .page2{
    flex-direction: column;
    padding: 10px;
    width: 100%;
    gap:20px;
  }
  .page2_left{
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 10;
  }
  .page2_right{
    width: 100%;
  }
  .page2_left h1{
        font-size: 20px;
  }
  .page2_left p{
    font-size: 12px;
  }
}

@layer utilities {
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out;
  }
}