@import "tailwindcss";
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: grey;
} */

@media (max-width: 630px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .left_nav img{
    width: 100px;
  }
  .menu{
    display: block;
  }
  .right_nav{
    display:none;
  }
  .menu_btn{
    display: block;
  }
  .facilities{
    padding: 30px 10px;
  }
  

  .facility_card{
    height: 400px;
    width:300px;
  }
  .facility_card h1{
    font-size: 16px;
  }
  .facility_card img{
    height: 92%;
  }
  .phone_no{
    display: block;
    padding: 4px 10px;
    font-size: 12px;
  }
 

  .page2{
    flex-direction: column;
    padding: 10px;
    width: 100%;
    gap:20px;
  }
  .page2_left{
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  #slider{
    padding: 10px 10px; 
    justify-content: center;
  }
  #slider #left{
    width: 100%;
    position: absolute;
    z-index: 10;
  }
   #slider #right{
    width: 100%;
    position: absolute;
    z-index: 9;
    left:0;

  }
  #slider #right img{
    border: none;
    border-radius:2px;
    filter: brightness(50%);
  }
}

@layer utilities {
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

   @keyframes menu-slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  .animate-menu-slide-in {
    animation: slide-in 0.5s ease-out;
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out;
  }
}